@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: rgb(255, 255, 255);
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --blockquoteColor:#D2F1E4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--mainBlack);
}

.code{
  margin-bottom: 2rem;
  font-size: 16px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

main {
  min-height: calc(100vh - 62px);
}

.blockquote {
  margin-bottom: 1rem;
  padding: 40px;
  background-color: var(--blockquoteColor);
}

.single_agenda {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: rgb(0, 225, 255);
  padding: 20px;
  margin-top: 20px;
  line-height: 1.5;
}

.posts-wrapper {
  text-align: justify;
}

.gif-responsive {
  width: 80%;
  height: auto;
}

.previous-post {
  font-weight: bold;
}

.post-recommendation {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(225, 230, 235);
  padding: 2rem;
  margin-bottom: 1rem;
}

.post-recommendation a {
  color: rgb(52, 52, 53);
  font-size: 1.2rem;
}

@media (max-width:700px) {
  .post-recommendation {
  width: 100%;
  text-align: left;
  }
}