@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

:root {
  --primaryColor: #3fd0d4;
  --mainWhite: rgb(255, 255, 255);
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

body {
  color: var(--mainBlack);
}

.code{
  margin-bottom: 2rem;
  font-size: 16px;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

pre::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

main {
  min-height: calc(100vh - 62px);
}

.blockquote {
  color: red !important;
}