@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.header h1 {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.header p {
  width: 70%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px; 
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li {
  list-style: none;
}

.timeline ul li a {
  text-decoration: none;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.clearfix {
  clear: both;
}

.content {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(54, 52, 52, 0.2);
}

.date {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  color: #777;
}

.content p {
  font-size: 16px;
  color: rgb(27, 24, 24);
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content a {
  font-size: 14px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: rgb(27, 24, 24);
}

.content span {
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: #006CFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}

.content a:hover {
  text-decoration: underline;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33,99, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33,99, 0.2);
}

@media (max-width:1000px) {
.content {
  padding: 10px;
  }

.timeline {
  position: relative;
  margin: 20px auto;
  padding: 20px 0;
  width: 700px; 
}
}

@media (max-width:730px) {
/* .content {
  padding: 10px;
  } */

.timeline {
  position: relative;
  margin: 10px auto;
  padding: 10px 0;
  width: 550px; 
}

.content p {
  font-size: 14px;
}

.content a {
  font-size: 12px;
}
}

@media (max-width:550px) {
  .header h1 {
  font-size: 22px;
}

.header p {
  width: 90%;
  font-size: 14px;
}

.timeline {
  position: relative;
  margin: 10px auto;
  padding: 10px 0;
  width: 400px; 
}

.content p {
  font-size: 12px;
}

.content a {
  font-size: 10px;
}

.timeline ul li {
  width: 50%;
  padding: 20px 10px;
}
}

@media (max-width:400px) {

.header p {
  width: 100%;
  font-size: 12px;
}

.timeline {
  width: 350px; 
}

.timeline ul li {
  width: 50%;
  padding: 20px 10px;
}

.content span {
  font-size: 9px;
  padding: 2px 5px 2px 5px;
}
}