.posts {
  padding: 4rem 0;
}
.posts h1 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 48px;
}
.posts h4 {
  /* letter-spacing: 2px; */
  text-transform: capitalize;
  font-size: 15px;
  text-align: center;
  margin-bottom: 3rem;
}
.center {
  width: 85vw;
  margin: 0 auto;
  max-width: 800px;
}

@media screen and (max-width: 575px) {
  .posts h1 {
    font-size: 40px;
  }
}


@media screen and (min-width: 1575px) {

  .posts h1 {
    font-size: 60px;
  }

   .posts h4 {
    font-size: 30px;
  }

  .center {
  width: 85vw;
  max-width: 60vw;
  }
}
